body {
  width: 100%;
  margin: 0;
  background-color: #ACC8E5;
  color: #112A46;
}
.articles {
  display: flex;
  column-gap: 1em;
}

.articles #article {
  border: 1px solid grey;
  width: 40%;
}

h5,
a {
  color: black;
}
